---
import CheckBoxForm from "../../components/react_components/formsComponents/CheckBoxForm";
import InputForm from "../../components/react_components/formsComponents/InputForm";
import { SelectForm } from "../../components/react_components/formsComponents/SelectForm";
import ServicesForm from "../../components/react_components/servicesForm/ServicesForm";
import LayoutContactoServicios from "../../layouts/LayoutContactoServicios.astro";
const path = Astro.url.pathname;
const basePath = path.split("/")[1];
const result = `/${basePath}`;
const apiPatrimoniales = import.meta.env.PATRIMONIALES_API_URL;
const apiDefault = import.meta.env.DEFAULT_API_URL;
---

<LayoutContactoServicios
  title="Formulario de contacto para Fondo Educativo"
  path={result}
>
  <main
    class="relative my-20 z-10 h-auto w-full grid place-items-center mx-auto"
  >
    <section class="flex h-full w-[80%] justify-center items-center">
      <ServicesForm
        client:only="react"
        urlFetchDefault={apiDefault}
        urlFetchPatrimonieales={apiPatrimoniales}
      >
        <InputForm
          name="Fecha Nacimiento"
          placeholder="Juan Perez"
          type="date"
          labelText="Fecha de Nacimiento"
        />
        <SelectForm
          name="Situacion laboral"
          labelText="Situación Laboral"
          data={[
            { value: "Empleado", labelText: "Relación de dependencia" },
            { value: "Monotributo", labelText: "Monotributista" },
            { value: "Autonomo", labelText: "Autonomo" },
            { value: "Inscripto", labelText: "Responsable inscripto" },
            { value: "Otro", labelText: "Otro" },
          ]}
        />
        <InputForm
          name="Cantidad Hijos"
          placeholder="1"
          type="number"
          labelText="Cantidad de hijos"
          client:only="react"
        />
        <InputForm
          name="Hijos Edades"
          placeholder="10 / 15 años / 5, 8 y 12 años"
          type="text"
          labelText="Edades de los hijos"
          client:only="react"
        />

        <CheckBoxForm
          title={"Etapas a transitar"}
          data={[
            { value: "Inicial", labelText: "Inicial" },
            { value: "Primaria", labelText: "Primaria" },
            { value: "Secundaria", labelText: "Secundaria" },
            { value: "Universitaria", labelText: "Universitaria" },
            { value: "Posgrado", labelText: "Posgrado" },
            { value: "Otro", labelText: "Otro" },
          ]}
          client:only="react"
        />
      </ServicesForm>
    </section>
  </main>
</LayoutContactoServicios>
