---
import InputForm from "../../components/react_components/formsComponents/InputForm";
import { SelectForm } from "../../components/react_components/formsComponents/SelectForm";
import ServicesForm from "../../components/react_components/servicesForm/ServicesForm";
import LayoutContactoServicios from "../../layouts/LayoutContactoServicios.astro";
const path = Astro.url.pathname;
const basePath = path.split("/")[1];
const result = `/${basePath}`;
---

<LayoutContactoServicios
  title="Formulario de contacto para Seguros de Retiro"
  path={result}
>
  <main
    class="relative my-20 z-10 h-auto w-full grid place-items-center mx-auto"
  >
    <section class="flex h-full w-[80%] justify-center items-center">
      <ServicesForm
        client:only="react"
        placeholderMensaje="Dejanos un mensaje"
      >
        <InputForm
          name="Fecha Nacimiento"
          placeholder="Juan Perez"
          type="date"
          labelText="Fecha de Nacimiento"
        />
        <SelectForm
          name="Situacion laboral"
          labelText="Situación Laboral"
          data={[
            { value: "Empleado", labelText: "Relación de dependencia" },
            { value: "Monotributo", labelText: "Monotributista" },
            { value: "Autonomo", labelText: "Autonomo" },
            { value: "Inscripto", labelText: "Responsable inscripto" },
            { value: "Otro", labelText: "Otro" },
          ]}
        />
      </ServicesForm>
    </section>
  </main>
</LayoutContactoServicios>
