---
import Container from "../reutilizables/Container.astro";
import CardRetos from "./CardRetos.astro";
import retos from "@/assets/img_academia/retos_academia.avif";
import data from "../../data/cardRetos.json";
import TituloAcademia from "./TituloAcademia.astro";
import SeccionCompleta from "./SeccionCompleta.astro";
---

<SeccionCompleta
  id="retos"
  titulo1="¿Queres convertire en un"
  titulo2="Asesor de Seguros"
  titulo3="100% digital?"
  contenido_before="Retos"
  descripcion="Tenés el propósito, las ganas y la energía para realizarlo, pero te enfrentas con múltiples inconvenientes a diario que te impiden avanzar:"
>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 items-center">
    <div
      class="flex flex-col h-full justify-center items-start gap-4 p-4 order-2 lg:order-1"
    >
      <div class="grid gap-5">
        {
          data.map((item) => (
            <CardRetos
              titulo={item.titulo}
              texto={item.texto}
            />
          ))
        }
      </div>
    </div>
    <div
      class="flex justify-center items-center lg:order-2 drop-shadow-2xl iconos"
    >
      <div class="size-full md:size-[60%] lg:size-full">
        <img
          src={retos.src}
          alt=""
          class="w-full h-full rounded-tl-[100px] rounded-br-[100px] object-cover object-center"
        />
      </div>
    </div>
  </div>
</SeccionCompleta>
<style>
  .iconos {
    position: relative;
  }

  .iconos::before,
  .iconos::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 40%;
  }

  .iconos::before {
    top: -6%;
    right: -8%;
    background-image: url("../../assets/img_academia/retos_icono_1.avif");
    filter: invert(1);

    @media (min-width: 768px) {
      right: -2%;
    }

    @media (min-width: 1024px) {
      right: -8%;
    }
  }
  .iconos::after {
    bottom: -6%;
    left: -8%;
    background-image: url("../../assets/img_academia/retos_icono_2.avif");

    @media (min-width: 768px) {
      left: -2%;
    }

    @media (min-width: 1024px) {
      left: -8%;
    }
  }
</style>
