---
//data
import dataPreguntas from "@/data/preguntas.json";
import dataOpiniones from "@/data/opiniones.json";
import dataProfesor from "@/data/profesor.json";

//components
import LayoutCursos from "@/layouts/LayoutCursos.astro";
import FooterAcademia from "@/components/academia/secciones/FooterAcademia.astro";
import Opiniones from "@/components/academia/secciones/Opiniones.astro";
import Preguntas from "@/components/academia/secciones/Preguntas.astro";
import Equipo from "@/components/academia/secciones/Equipo.astro";
import PresentacionCurso from "@/components/academia/PresentacionCurso.astro";
import Retos from "@/components/academia/secciones/Retos.astro";

const profesor = "Micaela Tissieres Gelsi";
function getProfesor(data, profesor) {
  const arrayProfesores = [];
  const profesorData = data.find((item) => item.titulo === profesor);
  if (!profesorData) {
    return null;
  }
  arrayProfesores.push(profesorData);
  return arrayProfesores;
}
const profesorData = getProfesor(dataProfesor, profesor);
---

<LayoutCursos title="LCS - Academia de Seguros - Negocio de Seguros Digital">
  <main>
    <PresentacionCurso
      id="presentacion"
      titulo1="Curso de "
      titulo2="Negocio de Seguros Digital"
      descripcion="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veritatis molestiae necessitatibus, nobis esse itaque, nam sunt saepe quae totam numquam, velit praesentium Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veritatis molestiae necessitatibus, nobis esse itaque, nam sunt saepe quae totam numquam, velit praesentium Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veritatis molestiae necessitatibus, nobis esse itaque, nam sunt saepe quae totam numquam, velit praesentium"
      contenido_before=""
    />
    <Retos />

    <Equipo
      data={profesorData}
      id="profesor"
      titulo1="Conoce a tu"
      titulo2="Instructor"
      contenido_before="Instructor"
    />
    <Preguntas
      data={dataPreguntas}
      id="preguntas_frecuentes"
      titulo1="¿Tenes preguntas?"
      titulo2="Tenemos las respuestas"
      contenido_before="Preguntas"
    />
    <Opiniones
      data={dataOpiniones}
      id="opiniones"
      titulo1="Algunos de nuestros clientes"
      titulo2="opinan de nosotros"
      contenido_before="Opiniones"
    />
    <FooterAcademia />
  </main>
</LayoutCursos>
