---
import Layout from "@/layouts/Layout.astro";
import LayoutServicios from "@/layouts/LayoutServicios.astro";
---

<Layout title="La Chica del Seguro - Negocio de Seguros Digital">
  <main>
    <h1>Negocio de Seguros Digital</h1>
  </main>
</Layout>
