.historia-item-animation {
  opacity: 0.3;
  animation: animationHistoria 3s ease-in-out infinite;
}
@keyframes animationHistoria {
  0% {
    opacity: 0.3;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
