.contenedor {
  width: 100%;
}
.contenedor[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 3%, white 97%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 3%,
    white 97%,
    transparent
  );
}
.contenedor[data-paused="true"]:hover .slider,
.contenedor[data-paused="true"]:focus .slider {
  cursor: pointer;
  animation-play-state: paused;
}
.contenedor[data-direction="right"] {
  --_animation-direction: reverse;
}
.contenedor[data-direction="left"] {
  --_animation-direction: forwards;
}
.contenedor[data-duration="fast"] {
  --_animation-duration: 10s;
}
.contenedor[data-duration="slow"] {
  --_animation-duration: 50s;
}
.contenedor[data-animated="true"] .slider {
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 30s)
    var(--_animation-direction, forwards) linear infinite;
}
.slider {
  width: max-content;
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
}
@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.63);
}
