---
import flechas from "@/assets/resources/flechas-hero-academia.svg";
---

<section
  class=`w-full h-dvh md:h-[400px] lg:h-[520px] xl:h-dvh bg-center bg-cover md:bg-top xl:bg-cover bg-no-repeat back`
>
  <div class="w-full h-[calc(100%-50px)] flex justify-center items-end">
    <img
      loading="lazy"
      class="h-[80px] w-[80px] rotate-[-45deg] mb-10"
      src={flechas.src}
      alt="flechas verdes animadas"
      height="1"
      width="1"
      title="flechas verdes animadas"
    />
  </div>
</section>

<style>
  .back {
    background-image: url("../../../assets/img_academia/hero_movil.avif");
  }
  @media (min-width: 768px) {
    .back {
      background-image: url("../../../assets/img_academia/hero_web.avif");
    }
  }
</style>
