---
import CardRetos from "../CardRetos.astro";
import retos from "@/assets/img_academia/retos_academia.avif";
import data from "../../../data/cardRetos.json";
import SeccionCompleta from "../SeccionCompleta.astro";
---

<SeccionCompleta
  id="cursos"
  titulo1="¿Queres convertire en un"
  titulo2="Asesor de Seguros"
  titulo3="100% digital?"
  contenido_before="Cursos"
  descripcion="Transformá tu forma de comercializar seguros: dominá el mundo digital, conectá con más clientes y multiplicá tus ventas con nuestros cursos,  mentorías y asesorías diseñadas para el nuevo mercado."
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 items-center mt-8 w-full"
  >
    <!-- <div
      class="flex flex-col h-full justify-center items-start gap-4 p-4 order-2 lg:order-1"
    >
      <div class="grid gap-5">
        {
          data.map((item) => (
            <CardRetos
              titulo={item.titulo}
              texto={item.texto}
            />
          ))
        }
      </div>
    </div>
    <div
      class="flex justify-center items-center lg:order-2 drop-shadow-2xl iconos"
    >
      <div class="size-full md:size-[60%] lg:size-full">
        <img
          src={retos.src}
          alt=""
          class="w-full h-full rounded-tl-[100px] rounded-br-[100px] object-cover object-center"
        />
      </div>
    </div> -->

    <div class="card card__disponible" data-state="active">
      <div class="imagen"></div>
      <div class="descripcion"></div>
    </div>
    <div class="card card__disponible" data-state="inactive">
      <div class="imagen"></div>
      <div class="descripcion"></div>
    </div>
    <div class="card card__disponible" data-state="active">
      <div class="imagen"></div>
      <div class="descripcion"></div>
    </div>
    <div class="card card__disponible" data-state="active">
      <div class="imagen"></div>
      <div class="descripcion"></div>
    </div>
  </div>
</SeccionCompleta>

<style>
  .card__disponible {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .card__no__disponible {
    filter: grayscale(1);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: none;
  }

  .card__disponible .imagen {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    animation: img_unactive 0.5s ease-in-out forwards allow-discrete;
  }

  .card__disponible .descripcion {
    height: 0;
    width: 0;
    background: red;
    transform: translateY(-100%);
  }

  .card__disponible.active .imagen {
    animation: img_active 0.5s ease-in-out forwards;
  }

  .card__disponible.active .descripcion {
    animation: descripcion_active 0.5s 0.3s ease-in-out forwards;
  }

  .card__disponible.unactive .imagen {
    animation: img_unactive 0.5s ease-in-out 0.3s backwards;
  }

  .card__disponible.unactive .descripcion {
    animation: descripcion_unactive 0.5s ease-in-out backwards;
  }

  @keyframes img_active {
    0% {
      width: 100%;
      height: 100%;
    }
    100% {
      width: 90%;
      height: 70%;
      margin-bottom: 16px;
    }
  }

  @keyframes descripcion_active {
    0% {
      transform: translateY(-100%);
      width: 0;
      height: 0;
    }
    100% {
      transform: translateY(0);
      width: 100%;
      height: calc(30% - 16px);
    }
  }
  @keyframes img_unactive {
    0% {
      width: 90%;
      height: 70%;
      margin-bottom: 16px;
    }
    100% {
      width: 100%;
      height: 100%;
      margin-bottom: 0;
    }
  }

  @keyframes descripcion_unactive {
    0% {
      width: 100%;
      height: calc(30% - 16px);
      transform: translateY(0);
    }
    100% {
      width: 0;
      height: 0;
      transform: translateY(-100%);
    }
  }

  /* .iconos {
    position: relative;
  }

  .iconos::before,
  .iconos::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 40%;
  }

  .iconos::before {
    top: -6%;
    right: -8%;
    background-image: url("../../../assets/img_academia/retos_icono_1.avif");
    filter: invert(1);

    @media (min-width: 768px) {
      right: -2%;
    }

    @media (min-width: 1024px) {
      right: -8%;
    }
  }
  .iconos::after {
    bottom: -6%;
    left: -8%;
    background-image: url("../../../assets/img_academia/retos_icono_2.avif");

    @media (min-width: 768px) {
      left: -2%;
    }

    @media (min-width: 1024px) {
      left: -8%;
    }
  } */
</style>

<script>
  const cardDisponible = document.querySelectorAll(".card");
  cardDisponible.forEach((card) => {
    const estado = card.getAttribute("state");
    console.log(estado);

    if (estado === "inactive") {
      card.classList.remove("card__disponible");
      card.classList.add("card__no__disponible");
    }
    card.addEventListener("mouseenter", () => {
      card.classList.add("active");
      card.classList.remove("unactive");
    });
    card.addEventListener("mouseleave", () => {
      card.classList.add("unactive");
      card.classList.remove("active");
    });
  });
</script>
