---
import SeccionCompleta from "../SeccionCompleta.astro";
import data from "../../../data/empresas.json";
import CardEmpresas from "../CardEmpresas.astro";
---

<SeccionCompleta
  id="empresas"
  titulo1="Tenemos las"
  titulo2="Mejores Soluciones"
  contenido_before="Empresas"
  descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo cum alias atque voluptatibus recusandae? Quam, expedita. Quisquam quibusdam ea, nihil deleniti maiores aspernatur in unde non illum aliquid placeat autem?"
>
  <div
    class="grid grid-cols-1 xl:grid-cols-3 gap-6 mt-8 mb-12 w-full place-items-center"
  >
    {
      data.map((item, index) => (
        <CardEmpresas
          titulo={item.titulo}
          img_curso={item.img_curso}
          url_curso={item.url_curso}
          descripcion={item.descripcion}
          delay={(index * 200).toString()}
        />
      ))
    }
  </div>
</SeccionCompleta>
