---
import flechas from "@/assets/resources/flechas-hero-academia.svg";
import AcademiaBento from "../AcademiaBento.astro";
import BotonAcademia from "../BotonAcademia.astro";
import SeccionCompleta from "../SeccionCompleta.astro";
---

<SeccionCompleta
  id="solucion"
  titulo1="Transformamos tu"
  titulo2=" forma de capacitarte"
  contenido_before="Solución"
  descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo cum alias atque voluptatibus recusandae? Quam, expedita. Quisquam quibusdam ea, nihil deleniti maiores aspernatur in unde non illum aliquid placeat autem?"
>
  <div class="w-full grid place-items-center py-10">
    <AcademiaBento />
  </div>
</SeccionCompleta>
