---
import CheckBoxForm from "../../components/react_components/formsComponents/CheckBoxForm";
import InputForm from "../../components/react_components/formsComponents/InputForm";
import ServicesForm from "../../components/react_components/servicesForm/ServicesForm";
import LayoutContactoServicios from "../../layouts/LayoutContactoServicios.astro";
const path = Astro.url.pathname;
const basePath = path.split("/")[1];
const result = `/${basePath}`;
---

<LayoutContactoServicios
  title="Formulario de contacto para Seguro para pasajero en viaje"
  path={result}
>
  <main
    class="relative my-20 z-10 h-auto w-full grid place-items-center mx-auto"
  >
    <section class="flex h-full w-[80%] justify-center items-center">
      <ServicesForm
        client:only="react"
        placeholderMensaje="Dejanos un mensaje"
      >
        <InputForm
          name="Nacionalidad"
          placeholder="Argentino"
          type="text"
          labelText="Nacionalidad"
        />
        <InputForm
          name="Residencia"
          placeholder="Argentina"
          type="text"
          labelText="Pais de residencia actual"
        />
        <InputForm
          name="Pais destino"
          placeholder="Argentina"
          type="text"
          labelText="Pais de destino proximo"
        />
        <InputForm
          name="Fecha Inicio"
          placeholder="dd/mm/aaaa"
          type="date"
          labelText="Fecha de salida del pais de origen "
        />
        <InputForm
          name="Fecha Fin"
          placeholder="dd/mm/aaaa"
          type="date"
          labelText="Fecha de retorno al pais de origen"
        />

        <InputForm
          name="Cantidad Pasajeros"
          placeholder="1 pasajero"
          type="text"
          labelText="Cantidad de pasajeros"
        />

        <InputForm
          name="Edades Pasajeros"
          placeholder="20 / 15 años "
          type="text"
          labelText="Edades de los pasajeros"
        />
        <CheckBoxForm
          title={"Coberturas adicionales"}
          data={[
            { value: "Preexistencias", labelText: "Preexistencias" },
            { value: "Deportes", labelText: "Deportes" },
            { value: "Tecnologia", labelText: "Tecnologia" },
          ]}
          client:only="react"
        />
      </ServicesForm>
    </section>
  </main>
</LayoutContactoServicios>
