---
import InputForm from "../../components/react_components/formsComponents/InputForm";
import ServicesForm from "../../components/react_components/servicesForm/ServicesForm";
import LayoutContactoServicios from "../../layouts/LayoutContactoServicios.astro";
const path = Astro.url.pathname;
const basePath = path.split("/")[1];
const result = `/${basePath}`;
const apiPatrimoniales = import.meta.env.PATRIMONIALES_API_URL;
const apiDefault = import.meta.env.DEFAULT_API_URL;
---

<LayoutContactoServicios
  title="Formulario de contacto para Fondo Educativo"
  path={result}
>
  <main
    class="relative my-20 z-10 h-auto w-full grid place-items-center mx-auto"
  >
    <section class="flex h-full w-[80%] justify-center items-center">
      <ServicesForm
        client:only="react"
        urlFetchDefault={apiDefault}
        urlFetchPatrimonieales={apiPatrimoniales}
      >
        <InputForm
          name="Fecha Nacimiento"
          placeholder="Juan Perez"
          type="date"
          labelText="Fecha de Nacimiento"
        />

        <InputForm
          name="Capital Buscado"
          placeholder="AR$200000 / U$S50000 / no lo tengo definido aún"
          type="text"
          labelText="Cuánto capital necesitas conseguir"
          client:only="react"
        />
        <InputForm
          name="Edad Estimada"
          placeholder="60 años"
          type="text"
          labelText="A que edad quieres conseguir el capital"
          client:only="react"
        />
      </ServicesForm>
    </section>
  </main>
</LayoutContactoServicios>
