---
import Retos from "@/components/academia/secciones/Retos.astro";
import HeroAcademia from "@/components/academia/secciones/HeroAcademia.astro";
import Layout from "@/layouts/Layout.astro";
import Solucion from "@/components/academia/secciones/Solucion.astro";
import Beneficios from "@/components/academia/secciones/Beneficios.astro";
import Publico from "@/components/academia/secciones/Publico.astro";
---

<Layout title="La Chica del Seguro - Academia de Seguros">
  <main>
    <HeroAcademia />
    <Retos />
    <Solucion />
    <Publico />
    <Beneficios />
  </main>
</Layout>
