---
import HeroAcademia from "../components/academia/HeroAcademia.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="La Chica del Seguro - Academia de Seguros">
  <main>
    <HeroAcademia />
  </main>
</Layout>
