---
import Retos from "../components/academia/Retos.astro";
import HeroAcademia from "../components/academia/HeroAcademia.astro";
import Layout from "../layouts/Layout.astro";
import Solucion from "@/components/academia/Solucion.astro";
---

<Layout title="La Chica del Seguro - Academia de Seguros">
  <main>
    <HeroAcademia />
    <Retos />
    <Solucion />
  </main>
</Layout>
