---
import Retos from "@/components/academia/secciones/Retos.astro";
import HeroAcademia from "@/components/academia/secciones/HeroAcademia.astro";
import Layout from "@/layouts/Layout.astro";
import Solucion from "@/components/academia/secciones/Solucion.astro";
import Beneficios from "@/components/academia/secciones/Beneficios.astro";
import Publico from "@/components/academia/secciones/Publico.astro";
import Descargable from "@/components/index/Descargable.astro";
import libro from "@/assets/img_generales/libro.avif";
import DescargableForm from "@/components/react_components/descargableForm/DescargableForm.jsx";
---

<Layout title="La Chica del Seguro - Academia de Seguros">
  <main>
    <HeroAcademia />
    <!-- <div class="overflow-hidden">
      <Descargable
        titulo="Todo lo que necesitas saber para contratar un seguro está en esta guía"
        titulo_strong="digital y gratuita."
        subtitulo="¡Completá el formulario y es tuya!"
        imgURL={libro.src}
        img_alt="Imagen tapa y hojas de la guía Aprendé a leer tu poliza"
        color_background="academia-violeta1"
        color_strong="academia-amarillo2"
      >
        <DescargableForm client:only="react" />
      </Descargable>
    </div>
 -->
    <Retos />
    <Solucion />
    <Publico />
    <Beneficios />
  </main>
</Layout>
