---
import About from "../components/index/About.astro";
import WID from "../components/index/WID.astro";
import Servicios from "../components/index/Servicios.astro";
import Layout from "../layouts/Layout.astro";

import Academia from "../components/index/Academia.astro";
import Medios from "../components/index/Medios.astro";
import Contacto from "../components/index/Contacto.astro";
import Hero from "../components/index/Hero.astro";
import Footer from "../components/index/Footer.astro";
import Descargable from "../components/index/Descargable.astro";
import Blog from "../components/index/Blog.astro";
/* import Hero from "../components/preact/hero/Hero"; */
---

<Layout title="La Chica del Seguro - Asegurarse es la nueva moda">
  <main>
    <Hero />
    <div
      class="relative h-auto place-content-center w-full bg-[#fff5eb] rounded-[100px] overflow-hidden border-t-[1.5px] border-lcsPink1"
    >
      <About />

      <WID />

      <Descargable />

      <!--       <Blog /> -->

      <!--  <Servicios /> -->

      <Academia />
      <!--  <Medios /> -->
      <Contacto />
    </div>

    <Footer />
  </main>
</Layout>
