---
import About from "../components/index/About.astro";
import WID from "../components/index/WID.astro";
import Services from "../components/index/Services.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/preact/footer/Footer";
import Academia from "../components/index/Academia.astro";
import Medios from "../components/index/Medios.astro";
import Contacto from "../components/index/Contacto.astro";
import Hero from "../components/preact/hero/Hero";
---

<Layout title="LCS - Inicio">
  <main>
    <!-- <Hero /> -->
    <Hero client:only="preact" />
    <div
      class="h-auto place-content-center w-full bg-[#fff5eb] rounded-[100px] overflow-hidden relative"
    >
      <About />
      <WID />
      <Services />
      <div class="relative z-[11] bg-[#fff5eb] h-0">
        <img
          class="hidden lg:block w-auto lg:h-[400px] xl:h-[500px] absolute xl:-bottom-[400px] lg:-bottom-[350px] -right-[80%] lg:-right-[30%] xl:-right-[25%] 2xl:-right-[20%] rotate-[75deg] opacity-30"
          src="/resources/flechas-rojo-verde.svg "
          alt=""
        />
      </div>
      <Academia />
      <Medios />
      <Contacto />
    </div>

    <Footer client:only="preact" />
  </main>
</Layout>
