---
import Layout from "../layouts/Layout.astro";
---

<Layout title="En los Medios">
  <header></header>

  <main>
    <div
      class="h-[500px] bg-[url('/img/panambiHero.webp')] bg-contain bg-no-repeat"
    >
    </div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
  </main>
</Layout>
