---
import Layout from "../layouts/Layout.astro";
---

<Layout title="En los Medios">
  <main>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
  </main>
</Layout>
