---
import LayoutPatrimoniales from "../layouts/LayoutPatrimoniales.astro";
---

<LayoutPatrimoniales title="LCS - Seguros Patrimoniales">
  <main>
    <div class="h-[calc(100vh/2)] bg-black place-content-center mx-auto">
      <h1 class="text-white text-center font-semibold text-[90px]">
        Seguros Patrimoniales
      </h1>
    </div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
  </main>
</LayoutPatrimoniales>
