---
import Footer from "../components/servicePages/Footer.astro";
import Hero from "../components/servicePages/hero.astro";
import Services from "../components/servicePages/Services.astro";
import LayoutPatrimoniales from "../layouts/LayoutPatrimoniales.astro";
---

<LayoutPatrimoniales title="LCS - Seguros Patrimoniales">
  <main>
    <Hero
      title="Asegurarse es la nueva moda"
      subtitle="Seguros que Protegen tus Sueños"
      image="/img/img-patrimoniales.avif"
    />
    <Services />
    <Footer />
  </main>
</LayoutPatrimoniales>
