---
import FooterServices from "../components/servicePages/FooterServices.astro";
import Presentacion from "../components/servicePages/Presentacion.astro";
import Services from "../components/servicePages/Services.astro";
import LayoutServicios from "../layouts/LayoutServicios.astro";
import data from "../data/bentoPatrimoniales.json";
import BentoPatrimonio from "../components/servicePages/BentoPatrimonio.astro";
import HeroService from "../components/servicePages/HeroService.astro";

const url = new URL(Astro.url.href);
const path = url.pathname.split("/").filter(Boolean).pop();
---

<LayoutServicios
  title="La Chica del Seguro - Seguros Patrimoniales"
  description="Protege tus bienes con La Chica del Seguro. Ofrecemos seguros para automotores, motocicletas, hogar, caución y más, adaptados a tus necesidades."
  keywords="Seguros patrimoniales, Seguro de automotores, Seguro de motocicletas, Seguro de hogar, Seguro de caución, Asistencia mecánica, Cobertura contra robo y hurto, Protección contra incendios, Seguros personalizados, La Chica del Seguro, CE Brokers, Asegurarse es la nueva moda, Seguros que protegen tus sueños"
  url=`${path}`
>
  <main>
    <HeroService
      title="Asegurarse es la nueva moda."
      subtitle="Seguros que protegen tus sueños."
      image="/img/img-patrimoniales.avif"
    />
    <Services>
      {data.map((item) => <BentoPatrimonio {...item} />)}
    </Services>

    <Presentacion
      image="/resources/cebrokers_logo.svg"
      border="border-[#0E206C]"
      bgColor="bg-[#3379f6]"
    >
      <p>
        Con más de 15 años de experiencia,<span class="resaltado">
          + 40.000 clientes satisfechos</span
        >, <span class="resaltado">+ 20 aseguradoras </span>líderes que nos
        avalan y un equipo jóven de
        <span class="resaltado">+ 50 expertos</span>, te brindamos soluciones
        personalizadas e integrales. En <span class="resaltado"
          >CEBROKERS, aseguramos tu mundo y seguimos avanzando.</span
        >
      </p>
    </Presentacion>

    <FooterServices />
  </main>
</LayoutServicios>

<style>
  .resaltado {
    color: #3379f6;
    font-weight: 500;
  }
</style>
