---
import Hero from "../components/servicePages/hero.astro";
import LayoutPatrimoniales from "../layouts/LayoutPatrimoniales.astro";
---

<LayoutPatrimoniales title="LCS - Seguros de Personas">
  <main>
    <Hero
      title="Asegurarse es la nueva moda"
      subtitle="Seguros que Protegen tus Sueños"
      image="/img/img-personas.avif"
      className="bg-[top_center]"
    />
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
  </main>
</LayoutPatrimoniales>
