---
import FooterServices from "../components/servicePages/FooterServices.astro";
import Presentacion from "../components/servicePages/Presentacion.astro";
import Services from "../components/servicePages/Services.astro";
import LayoutServicios from "../layouts/LayoutServicios.astro";
import data from "../data/bentoPersonas.json";
import BentoPersonas from "../components/servicePages/BentoPersonas.astro";
import HeroService from "../components/servicePages/HeroService.astro";
---

<LayoutServicios title="LCS - Seguros de Personas">
  <main>
    <HeroService
      title="Asegurarse es la nueva moda"
      subtitle="Seguros que Protegen tus Sueños"
      image="/img/img-personas3.avif"
      className="bg-[top_center]"
    />
    <Services>
      {data.map((item) => <BentoPersonas {...item} />)}
    </Services>

    <Presentacion
      image="/resources/planifica_mejor_logo.svg"
      bgColor="bg-[#cdfacf]"
      border="border-[#4cabad]"
    >
      <p>
        <span class="font-medium text-[#386885]"
          >Especialista en seguros de personas y desarrollo económico
          multinivel.</span
        ><br />
        La meta es lograr que las personas y empresas cumplan sus objetivos financieros
        utilizando planificaciones confiables y transparentes con el respaldo de
        aseguradoras de primera línea. El mejor aliado para lograr tu
        <span class="font-medium text-[#386885]"
          >salud e independencia financiera.</span
        >
      </p>
    </Presentacion>
    <FooterServices />
  </main>
</LayoutServicios>
