---
import FooterServices from "../components/servicePages/FooterServices.astro";
import Hero from "../components/servicePages/hero.astro";
import Presentacion from "../components/servicePages/Presentacion.astro";
import Services from "../components/servicePages/Services.astro";
import ViajesCard from "../components/servicePages/ViajesCard.astro";
import LayoutServicios from "../layouts/LayoutServicios.astro";
import data from "../data/viajesCardData.json";
import ViajesCardMobile from "../components/servicePages/ViajesCardMobile.astro";
import BentoViajes from "../components/servicePages/BentoViajes.astro";
---

<LayoutServicios title="LCS - Seguros de Viajes">
  <main>
    <Hero
      title="Asegurarse es la nueva moda"
      subtitle="Seguros que Protegen tus Sueños"
      image="/img/img-viajes2.avif"
      className="bg-[top_center]"
    />
    <Services>
      {data.map((item) => <BentoViajes {...item} />)}
    </Services>
    <Presentacion
      image="/resources/Logotipo.svg"
      border="border-lcsGreen3"
      bgColor="bg-lcsGreen3"
    >
      <p>
        <span class="font-medium text-lcsOrange3">Soy Mica Tissieres</span>,
        asesora especialista en seguros de viaje internacionales. Aseguro
        aventuras por el mundo desde el <span
          class="font-medium text-lcsOrange3">2018</span
        > y mi propósito es que a donde sea que viajes estés 100% protegido 24hs
        con
        <span class="font-medium text-lcsOrange3">la mejor cobertura.</span>
      </p>
    </Presentacion>
    <FooterServices />
  </main>
</LayoutServicios>
