---
import FooterServices from "../components/servicePages/FooterServices.astro";
import Hero from "../components/servicePages/hero.astro";
import Presentacion from "../components/servicePages/Presentacion.astro";
import Services from "../components/servicePages/Services.astro";
import ViajesCard from "../components/servicePages/ViajesCard.astro";
import LayoutServicios from "../layouts/LayoutServicios.astro";
import data from "../data/viajesCardData.json";
import ViajesCardMobile from "../components/servicePages/ViajesCardMobile.astro";
---

<LayoutServicios title="LCS - Seguros de Viajes">
  <main>
    <Hero
      title="Asegurarse es la nueva moda"
      subtitle="Seguros que Protegen tus Sueños"
      image="/img/img-viajes.avif"
      className="bg-[top_center]"
    />
    <Services>
      <div
        class="hidden relative lg:flex gap-8 my-20 bg-[#fff5eb]"
        data-aos="fade-up"
        data-aos-duration="2000"
        data-aos-once="true"
      >
        {data.map((item) => <ViajesCard {...item} />)}
      </div>

      <div
        class="flex lg:hidden w-full mx-auto flex-col justify-center items-center gap-4"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        {data.map((item) => <ViajesCardMobile {...item} />)}
      </div>
    </Services>
    <Presentacion image="/resources/Logotipo.svg">
      <p class="text-[clamp(18px,2vw,30px)] font-light text-pretty">
        <span class="font-normal text-[#1a6dc0]"
          >15 años de experiencia en el mercado y más de 9.000 clientes</span
        >, que confían en nosotros. Brindamos asesoramiento personalizado y
        <span class="font-normal text-[#1a6dc0]">!aseguramos tu mundo!</span>
      </p>
    </Presentacion>
    <FooterServices />
  </main>
</LayoutServicios>
