---
import LayoutPatrimoniales from "../layouts/LayoutPatrimoniales.astro";
---

<LayoutPatrimoniales title="LCS - Seguros de Viajes">
  <main>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
    <div class="h-[500px] bg-white"></div>
    <div class="h-[500px] bg-black"></div>
  </main>
</LayoutPatrimoniales>
