---
import Presentacion from "../components/servicePages/Presentacion.astro";
import Services from "../components/servicePages/Services.astro";
import LayoutServicios from "../layouts/LayoutServicios.astro";
import data from "../data/viajesCardData.json";
import BentoViajes from "../components/servicePages/BentoViajes.astro";
import HeroService from "../components/servicePages/HeroService.astro";

const url = new URL(Astro.url.href);
const path = url.pathname.split("/").filter(Boolean).pop();
---

<LayoutServicios
  title="La Chica del Seguro - Seguros de Viajes"
  description="Asegura tus viajes con La Chica del Seguro. Ofrecemos coberturas integrales para que disfrutes de tus aventuras con tranquilidad y respaldo en cualquier destino."
  keywords="Seguros de viaje, Cobertura de viaje, Asistencia al viajero, Seguridad en viajes, Protección en viajes, Viajes seguros, Cobertura médica en el extranjero, Seguros internacionales, Asistencia en viajes, La Chica del Seguro"
  url=`${path}`
>
  <main>
    <HeroService
      title="Asegurarse es la nueva moda."
      subtitle="Seguros que protegen tus sueños."
      image="/img/img-viajes2.avif"
      className="bg-[top_center]"
      transitionName="VIAJES"
    />
    <Services>
      {data.map((item) => <BentoViajes {...item} />)}
    </Services>
    <Presentacion
      image="/resources/Logotipo.svg"
      border="border-lcsGreen3"
      bgColor="bg-lcsGreen3"
    >
      <p>
        <span class="font-medium text-lcsOrange3">Soy Mica Tissieres</span>,
        asesora especialista en seguros de viaje internacionales. Aseguro
        aventuras por el mundo desde el <span
          class="font-medium text-lcsOrange3">2018</span
        > y mi propósito es que a donde sea que viajes estés 100% protegido 24hs
        con
        <span class="font-medium text-lcsOrange3">la mejor cobertura.</span>
      </p>
    </Presentacion>
  </main>
</LayoutServicios>
