---

---

<nav
  id="navbar"
  class="w-full grid place-items-center fixed z-50"
>
  <div
    class="flex items-center justify-between lg:justify-center w-full mx-auto lg:px-3 2xl:px-0 py-3"
  >
    <div class="flex justify-left items-center flex-1 ml-8">
      <a href="/">
        <img
          class="w-[50px] hover:rotate-[15deg] hover:scale-[1.1] transition duration-300 ease-in-out"
          src="../resources/corazon-paragua.svg"
          alt="Logo La Chica Del Seguro"
        /></a
      >
    </div>

    <div>
      <div class="flex justify-end items-center flex-1 mr-8">
        <a href="/blog"
          ><svg
            class="w-[50px] stroke-[#ed6f5f] hover:scale-[1.1] hover:stroke-[#ea4d50] transition duration-300"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back-up"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M9 14l-4 -4l4 -4"></path><path
              d="M5 10h11a4 4 0 1 1 0 8h-1"></path></svg
          ></a
        >
      </div>
    </div>
  </div>
</nav>
