---

---

<nav
  id="navbar"
  class="w-full grid place-items-center fixed z-10 transition-all duration-500"
>
  <div
    class="flex items-center justify-between lg:justify-center w-full mx-auto lg:px-3 2xl:px-0 py-3"
  >
    <div class="flex justify-left items-center flex-1">
      <img
        class="w-[50px]"
        src="/favicon.svg "
        alt="Logo Islay Asesores de Seguros"
      />
    </div>

    <div
      class="text-center flex justify-end items-center z-10 text-white isolate"
    >
      <div
        class="flex justify-end items-center flex-1 mr-8 mix-blend-difference"
      >
        <a href="/#services"><p>Volver</p></a>
      </div>
    </div>
  </div>
</nav>
