---
type Props = {
  href: string;
  text: string;
  // Add any props if needed
};
const { href, text } = Astro.props;
---

<div class="w-full flex justify-center">
  <a
    class="background grid place-items-center px-[40px] py-3 text-[clamp(18px,10vw,20px)] rounded-full"
    href={href}
  >
    {text}
  </a>
</div>

<style>
  .background {
    background-image: linear-gradient(
      180deg,
      #557367 0%,
      rgba(236, 133, 119, 0.67) 100%
    );
    box-shadow: 5px 5px 1px 0 #254542;

    background-size: 100% 200%;
    color: #f9fafb;
    transition: all 0.3s linear;

    &:hover {
      box-shadow: 2px 2px 1px 0 #254542;
      transform: translate(4px, 4px);
      background-position: 0 100%;
      color: #1d1e1c;
    }
  }
</style>
