---
type Props = {
  classname?: string;
};

const { classname } = Astro.props;
---

<div
  class=`mx-auto max-w-[calc(100dvw-10%)] grid place-items-center ${classname} space-y-8 `
>
  <slot />
</div>
