<div class="w-max flex md:hidden flex-wrap gap-3 pr-4 my-10">
  <button
    class="card1 card justify-end"
    data-content="Seguros_Patrimoniales lorem ipsum dolor"
    data-color="#6fa29d"
    data-img-background="/img/comercio.avif"
    data-img-position="right bottom"
  >
    <div class="w-full flex px-5 pt-3">
      <p class="text-gray-50 texto font-light">I. COMERCIO</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/comercio.avif')] bg-contain bg-right-bottom bg-no-repeat"
    >
    </div>
  </button>

  <button
    class="card2 card"
    data-content="Seguros_Patrimoniales lorem ipsum dolor"
    data-color="#1d1e1c"
    data-img-background="/img/auto.avif"
    data-img-position="right bottom"
  >
    <div class="w-full flex px-5 pt-3">
      <p class="text-gray-50 texto font-light">AUTOMOTORES</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/auto.avif')] bg-contain bg-right-bottom lg:bg-[right_-50px_bottom_-50px] bg-no-repeat"
    >
    </div>
  </button>

  <button
    class="card3 card"
    data-content="Seguros_Patrimoniales lorem ipsum dolor"
    data-color="#393737"
    data-img-background="/img/art.avif"
    data-img-position="left bottom"
  >
    <div class="w-full flex px-5 pt-3">
      <p class="text-gray-50 texto font-light">ART</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/art.avif')] -bottom-10 lg:bottom-0 bg-cover bg-no-repeat"
    >
    </div>
  </button>

  <button
    class="card4 card"
    data-content="Seguros_Patrimoniales lorem ipsum dolor"
    data-color="#18403e"
    data-img-background="/img/hogar.avif"
    data-img-position="right bottom"
  >
    <div class="w-full flex px-5 pt-3">
      <p class="text-gray-50 texto font-light">HOGAR</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/hogar.avif')] bg-contain bg-right-bottom bg-no-repeat"
    >
    </div>
  </button>
  <button
    class="card5 card"
    data-content="Seguros_Patrimoniales lorem ipsum dolor"
    data-color="#e8abac"
    data-img-background="/img/caucion.avif"
    data-img-position="right bottom"
  >
    <div class="w-full flex px-5 pt-3">
      <p class="text-gray-50 texto font-light">CAUCION</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/caucion.avif')] bg-[right_-20px_bottom] 2xl:bg-[right_bottom] bg-cover bg-no-repeat"
    >
    </div>
  </button>

  <button
    class="card6 card"
    data-content="Seguros_Patrimoniales lorem ipsum dolor"
    data-color="#f05759"
    data-img-background="/img/consorcio2.avif"
    data-img-position="bottom"
  >
    <div class="w-full flex px-5 pt-3">
      <p class="text-gray-50 texto font-light">CONSORCIO</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/consorcio.avif')] bg-cover bg-[center_bottom_-50px] bg-no-repeat"
    >
    </div>
  </button>

  <button
    class="card7 card"
    data-content="Seguros_Patrimoniales lorem ipsum dolor"
    data-color="#1d1e1c"
    data-img-background="/img/retiro.avif"
    data-img-position="right bottom"
  >
    <div class="w-full flex px-5 pt-3">
      <p class="text-gray-50 texto font-light">ACCIDENTES</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/retiro.avif')] bg-cover bg-[right_-80px_bottom] lg:bg-[right_-10px_bottom] 2xl:bg-[right_-10px_bottom_-20px] bg-no-repeat"
    >
    </div>
  </button>
</div>
<style>
  .card {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 280px;
    min-width: 280px;
    border-radius: 20px;

    transition: all 0.5s linear;

    .texto {
      color: #f9fafb;
      font-weight: 300;
      font-size: 25px;
    }
  }
  .card1 {
    background-color: #6fa29d;
  }
  .card2 {
    background-color: #1d1e1c;
  }
  .card3 {
    background-color: #393737;
  }
  .card4 {
    background-color: #18403e;
  }
  .card5 {
    background-color: #e8abac;
  }
  .card6 {
    background-color: #f05759;
  }
  .card7 {
    background-color: #1a191a;
  }
  .card8 {
    background-color: #393737;
  }
  .card9 {
    background-color: #e8abac;
  }
</style>
