<div class="container w-max flex flex-wrap gap-3">
  <a
    class="card1 card justify-end"
    href="/personas"
  >
    <div class="w-full h-full flex ml-4">
      <p class="texto">PROTECCION</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/proteccion.avif')] bg-cover bg-[right_-20px_bottom_-30px] bg-no-repeat"
    >
    </div>
  </a>

  <a
    class="card2 card"
    href="/patrimoniales"
  >
    <div class="w-full h-full flex ml-4">
      <p class="texto">AUTOMOTORES</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/auto.avif')] bg-contain bg-right-bottom bg-no-repeat"
    >
    </div>
  </a>

  <a
    class="card3 card"
    href="/viajes"
  >
    <div class="w-full h-full flex ml-4">
      <p class="texto">VIAJES</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/viajes.avif')] bg-cover bg-[left_bottom_-30px] bg-no-repeat"
    >
    </div>
  </a>

  <a
    class="card4 card"
    href="/patrimoniales"
  >
    <div class="w-full h-full flex ml-4">
      <p class="texto">HOGAR</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/hogar.avif')] bg-contain bg-right-bottom bg-no-repeat"
    >
    </div>
  </a>
  <a
    class="card5 card"
    href="/patrimoniales"
  >
    <div class="w-full h-full flex ml-4">
      <p class="texto">ART</p>
    </div>

    <div
      class="absolute scale-x-[-1] w-full h-full bg-[url('/img/art.avif')] bg-cover bg-left-bottom bg-no-repeat"
    >
    </div>
  </a>

  <a
    class="card6 card"
    href="/patrimoniales"
  >
    <div class="w-full h-full flex ml-4">
      <p class="texto">CONSORCIO</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/consorcio.avif')] bg-cover bg-[center_bottom_-50px] bg-no-repeat"
    >
    </div>
  </a>

  <a
    class="card7 card"
    href="/personas"
  >
    <div class="w-full h-full flex ml-4">
      <p class="texto">RETIRO</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/retiro.avif')] bg-cover bg-[right_bottom] bg-no-repeat"
    >
    </div>
  </a>

  <a
    class="card8 card"
    href="/patrimoniales"
  >
    <div class="w-full h-full flex ml-4">
      <p class="texto">I. COMERCIO</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/comercio.avif')] bg-contain bg-[right_10px_bottom] bg-no-repeat"
    >
    </div>
  </a>

  <a
    class="card9 card"
    href="/patrimoniales"
  >
    <div class="w-full h-full flex ml-4">
      <p class="texto">CAUCION</p>
    </div>

    <div
      class="absolute w-full h-full bg-[url('/img/caucion.avif')] bg-cover bg-[right_bottom] bg-no-repeat"
    >
    </div>
  </a>
</div>
<style>
  .card {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 280px;
    min-width: 280px;
    border-radius: 20px;

    transition: all 0.5s linear;

    .texto {
      color: #f9fafb;
      font-weight: 400;
      font-size: clamp(20px, 4vw, 42px);
    }
  }

  .card1 {
    background-color: #6fa29d;
  }
  .card2 {
    background-color: #1d1e1c;
  }
  .card3 {
    background-color: #f67d7f;
  }
  .card4 {
    background-color: #18403e;
  }
  .card5 {
    background-color: #1a191a;
  }
  .card6 {
    background-color: #f05759;
  }
  .card7 {
    background-color: #518d87;
  }
  .card8 {
    background-color: #393737;
  }
  .card9 {
    background-color: #e8abac;
  }
</style>
