---
type Props = {
  text: string;
};

const { text } = Astro.props;
---

<div class="w-full flex flex-col justify-center items-center gap-7">
  <div class="">
    <img
      loading="lazy"
      class="w-[65px] rotate-[-45deg]"
      src="/resources/flechas.svg"
      alt=""
    />
  </div>
  <p class="text-[clamp(40px,5vw,80px)] text-pretty text-gray-50 text-center">
    {text}
  </p>
  <div class="">
    <img
      loading="lazy"
      class="w-[65px] rotate-[135deg]"
      src="/resources/flechas.svg"
      alt=""
    />
  </div>
</div>
