<a
  href="https://wa.me/5491170627152?text=Hola, quiero hacerles una consulta"
  target="_blank"
  class="hover:scale-[1.1] transition-all ease-linear duration-300"
>
  <img
    loading="lazy"
    src="../img/whatsapp.avif"
    alt="logo whatsapp"
    class="w-[35px] h-[35px]"
    height="auto"
    width="auto"
  />
</a>
