<a
  href="https://wa.me/5491137654344?text=Hola, quiero hacerles una consulta"
  target="_blank"
>
  <img
    src="../img/whatsapp.avif"
    alt="logo whatsapp"
    class="w-[35px] h-[35px]"
  />
</a>
