---
import redes from "../../data/redes.json";
import Container from "../reutilizables/Container.astro";
---

<footer
  id="footerServices"
  class=""
>
  <div
    class="absolute w-full h-full bg-[url('/resources/amo-asegurar.svg')] bg-cover bg-center opacity-[0.03]"
  >
  </div>
  <div
    class="w-[70%] h-full flex flex-col md:flex-row justify-center md:justify-between items-center gap-y-5 py-6"
  >
    <a
      class="img__container justify-center md:justify-start"
      href="/"
    >
      <img
        loading="lazy"
        class="w-full md:w-[80%] lg:w-[60%]"
        src="/resources/LOGOTIPO-CREMA.svg"
        height="auto"
        width="auto"
        alt="Logo La Chica del Seguro"
      />
    </a>
    <div
      class="flex flex-col justify-center items-center md:items-end gap-6 md:gap-0 w-full relative"
    >
      <div class="flex flex-col justify-center items-center gap-[6px]">
        <div class="flex justify-center items-center gap-4">
          {
            redes.map((item) => (
              <div class="border-2 border-zinc-50 size-[40px] rounded-full flex justify-center items-center hover:scale-[1.1] transition-all duration-200 ease-linear group">
                <a
                  href={item.href}
                  target={item.target}
                >
                  <img
                    loading="lazy"
                    src={item.img}
                    alt={item.label}
                    class="size-[40px] p-2 group-hover:scale-[1.1] transition-all duration-200 ease-linear"
                    style="filter: invert(100%) "
                    height="auto"
                    width="auto"
                  />
                </a>
              </div>
            ))
          }
        </div>
        <div class="flex flex-col gap-0 text-xs text-gray-50 text-center">
          <p>Copyright © 2025 La Chica del Seguro</p>
          <p>Reservados todos los derechos</p>
        </div>
      </div>
    </div>
  </div>

  <p class="text-center text-xs font-thin z-50 text-gray-300">
    Desarrollado por
    <a
      class="cursor-pointer font-medium relative z-30"
      aria-label="Link al Github de JM-Dev"
      href="https://github.com/JM-Dev-ARG"
      target="_blank"
    >
      JM-DEV
    </a>
    / <a
      class="cursor-pointer font-medium relative z-30"
      href="https://agenciapanambi.com/"
      target="_blank"
      >Agencia Panambi</a
    >
  </p>
</footer>

<style>
  footer {
    background-color: #202022;
    position: relative;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img__container {
    width: 100%;
    display: flex;

    align-items: center;
    height: 60%;
    z-index: 10;

    & img {
      mask-image: linear-gradient(#202022 60%, transparent 100%);
      -webkit-mask-image: linear-gradient(#222020 60%, transparent 100%);
    }
  }
</style>
