---
type Props = {
  title: string;
  subtitle: string;
  image: string;
  className?: string;
};

const { title, subtitle, image, className } = Astro.props;

const url = new URL(Astro.url.href);
const path = url.pathname.split("/").filter(Boolean).pop();
---

<section class="hero__container h-[400px] md:h-[500px] lg:h-[600px]">
  <div
    class=`text__wrapper ${path === "patrimoniales" ? "bg-[bottom_center]": "bg-[top_-50px_center]"} ${className}`
    style=`background-image: url('${image}');`
  >
    <div class="z-10 w-full h-[70%] flex flex-col justify-center items-center">
      <h1
        class="text-[clamp(40px,6vw,100px)] text-center text-wrap font-normal text-gray-50 drop-shadow-2xl"
      >
        {title}
      </h1>

      <h2
        class="text-[clamp(20px,4vw,80px)] text-center text-wrap font-extralight text-gray-50 drop-shadow-xl"
      >
        {subtitle}
      </h2>
    </div>
    <div class="text-gray-50">
      <img
        loading="lazy"
        class="h-[60px] w-[60px] rotate-[-45deg]"
        src="/resources/flechas-button.svg"
        alt="hero"
      />
    </div>
  </div>
</section>

<style>
  .hero__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & .text__wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;

      & h1,
      & h2 {
        filter: drop-shadow(5px 5px 6px #000000);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1016167a;
      }
    }
  }
</style>
