---
import { color } from "framer-motion";
import Container from "../reutilizables/Container.astro";

type Props = {
  /*  text: string; */
  image: string;
  className?: string;
  border?: string;
  bgColor?: string;
};

const { image, className, border, bgColor } = Astro.props;

console.log(bgColor);

const borderColor = border ? border : "#1a6dc0";
const backgroundColor = bgColor ? bgColor : "#1a6dc0";
---

<Container>
  <div
    class="w-full lg:w-[90%] flex justify-center items-center gap-4 md:gap-20 mt-10 md:mt-0"
  >
    <div class="">
      <img
        class="hidden md:block w-[50px] md:w-[70px] lg:w-[100px] rotate-[225deg]"
        src="/resources/flechas-rojas.svg"
        alt=""
      />
    </div>
    <div>
      <div
        class="text-[clamp(25px,3vw,40px)] font-light text-pretty text-center flex flex-col justify-center items-center"
      >
        <p>Te presentamos a nuestro</p>
        <div class="relative w-fit text-[clamp(30px,3vw,44px)] text-[#518d87]">
          <p>Broker de seguros</p>
          <div class="sub">
            <img
              src="/resources/surayado.svg"
              alt=""
            />
          </div>
        </div>
        <p>de confianza.</p>
      </div>
    </div>

    <div class="">
      <img
        class="hidden md:block w-[50px] md:w-[70px] lg:w-[100px] rotate-[45deg]"
        src="/resources/flechas-rojas.svg"
        alt=""
      />
    </div>
  </div>

  <div
    class="w-full xl:w-[90%] flex flex-col md:flex-row justify-between items-center md:h-[220px] lg:h-auto gap-4 pb-10"
  >
    <div class="w-[80%] md:w-[30%] grid place-items-center">
      <img
        class="w-[90%] h-full object-contain object-center"
        src={image}
        alt=""
      />
    </div>

    <div
      class=`w-[90%] md:w-[70%]  border-2  rounded-[20px] border-[${borderColor}] ${backgroundColor}  bg-opacity-10 p-4 mb-7 md:mb-0`
    >
      <div class="text-[clamp(14px,2vw,20px)] font-light text-pretty">
        <slot />
      </div>
    </div>
  </div>
</Container>

<style>
  .sub__container {
    position: relative;
  }
  .sub {
    position: absolute;
    top: clamp(26px, 3.5vw, 50px);
    bottom: 0;
    right: 0;
    left: 0%;
    width: 100%;
    height: 40px;
  }
</style>
