---
import Container from "../reutilizables/Container.astro";
---

<section class="relative overflow-hidden z-[21]">
  <div>
    <img
      loading="lazy"
      class="hidden xl:block w-auto h-[calc(100%/2)] absolute top-1/2 -left-[20%] xl:-left-[16%] 2xl:-left-[10%] translate-y-[-50%] opacity-70"
      src="/resources/asterisco-fino.svg"
      alt=""
    />
  </div>
  <div>
    <img
      loading="lazy"
      class="hidden xl:block w-auto lg:h-[400px] xl:h-[500px] absolute bottom-0 -right-[60%] lg:-right-[20%] xl:-right-[22%] 2xl:-right-[12%] rotate-[85deg] opacity-30"
      src="/resources/flechas-rojo-verde.svg "
      alt=""
    />
  </div>
  <Container>
    <slot />
  </Container>
</section>
