---
import Container from "../reutilizables/Container.astro";
---

<section class="relative overflow-hidden">
  <div class="">
    <img
      class="hidden lg:block w-auto h-[calc(100%/3)] absolute top-1/4 -left-[20%] xl:-left-[6%] translate-y-[-50%] opacity-70"
      src="/resources/asterisco-fino.svg"
      alt=""
    />
  </div>
  <div class="">
    <img
      class="hidden lg:block w-auto lg:h-[400px] xl:h-[500px] absolute bottom-0 -right-[60%] lg:-right-[20%] xl:-right-[15%] 2xl:-right-[10%] rotate-[85deg] opacity-30"
      src="/resources/flechas-rojo-verde.svg "
      alt=""
    />
  </div>
  <Container>
    <slot />
  </Container>
</section>

<!-- <style>
  .grid__container {
    position: relative;
    z-index: 20;

    grid:
      "card1 card1 card1 card1 card1 card1 card2 card2 card2 card2 card2 card2" 1fr
      "card3 card3 card3 card3 card3 card4 card4 card4 card4 card4 card4 card4" 1fr
      "card5 card5 card5 card5 card6 card6 card6 card6 card7 card7 card7 card7" 1fr
      /* "card8 card8 card8 card8 card8 card8 card8 card9 card9 card9 card9 card9" 1fr */
      / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 18px;
  }

  .grid__container:has(.card:hover) .card:not(:hover) {
    filter: grayscale(70%);
    opacity: 30%;
  }

  .card {
    z-index: 20;
    overflow: hidden;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 300px;
    max-height: 550px;
    border-radius: 20px;

    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      scale: 1.05;
    }

    &:hover .ver__mas {
      opacity: 1;
    }
    &:focus .ver__mas {
      opacity: 1;
    }

    .texto {
      font-size: clamp(20px, 4vw, 42px);
    }
  }

  .ver__mas {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c4;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear 0.1s;
  }

  .card1 {
    grid-area: card1;
    background-color: #6fa29d;
  }
  .card2 {
    grid-area: card2;
    background-color: #1d1e1c;
  }
  .card3 {
    grid-area: card3;
    background-color: #393737;
  }
  .card4 {
    grid-area: card4;
    background-color: #18403e;
  }
  .card5 {
    grid-area: card5;
    background-color: #e8abac;
  }
  .card6 {
    grid-area: card6;
    background-color: #f05759;
  }
  .card7 {
    grid-area: card7;

    background-color: #1a191a;
  }
  .card8 {
    grid-area: card8;
    background-color: #393737;
  }
  .card9 {
    grid-area: card9;
    background-color: #e8abac;
  }

  dialog {
    scale: 0;
    opacity: 0;
    transition:
      scale 0.3s linear,
      display 0.4s linear allow-discrete,
      opacity 0.4s linear;
  }

  dialog[open] {
    opacity: 1;
    scale: 1;
    transition:
      scale 0.3s linear,
      opacity 0.4s linear;

    @starting-style {
      scale: 0;
      opacity: 0;
    }
  }

  dialog::backdrop {
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.26);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: clamp(80px, 10vw, 100px);
    width: clamp(200px, 50vw, 400px);
    background-image: linear-gradient(
      135deg,
      #3e5351 30%,
      rgb(66, 182, 170) 100%
    );
    transition: all 0.2s linear;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }

  .sub__container {
    position: relative;
  }
  .sub {
    position: absolute;
    top: clamp(30px, 3.5vw, 50px);
    bottom: 0;
    right: 0;
    left: 0%;
    width: 100%;
    height: 40px;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const btnDialog = document.querySelectorAll("button");
    const btnModalContact = document.querySelectorAll("#open-modal-contaco");
    const dialog = document.getElementById("modal-info") as HTMLDialogElement;
    const close = document.getElementById("close");
    const closeContact = document.getElementById("close-contact");
    const dialogContact = document.getElementById(
      "modal-contaco-services"
    ) as HTMLDialogElement;
    const modalContent = document.getElementById("modal-info-content");
    const modalImg = document.getElementById(
      "modal-info-img"
    ) as HTMLImageElement;

    btnDialog.forEach((btn) => {
      btn.addEventListener("click", () => {
        const bgColor = btn.getAttribute("data-color");
        const data = btn.getAttribute("data-content");
        const img = btn.getAttribute("data-img-background");
        const position = btn.getAttribute("data-img-position");
        dialog.style.backgroundColor = bgColor;
        modalContent.innerHTML = data;
        modalImg.src = img;
        modalImg.style.objectPosition = position;

        dialog.showModal();
      });
    });

    btnModalContact.forEach((btn) => {
      btn.addEventListener("click", () => {
        dialogContact.showModal();
      });
    });

    close.addEventListener("click", () => {
      dialog.close();
      const activeElement = document.activeElement;
      if (activeElement instanceof HTMLElement) {
        activeElement.blur();
      }
    });

    closeContact.addEventListener("click", () => {
      dialog.close();
      const activeElement = document.activeElement;
      if (activeElement instanceof HTMLElement) {
        activeElement.blur();
      }
    });
  });
</script>
 -->
