---
import CheckBoxForm from "../../components/react_components/formsComponents/CheckBoxForm";
import InputForm from "../../components/react_components/formsComponents/InputForm";
import { SelectForm } from "../../components/react_components/formsComponents/SelectForm";

import ServicesForm from "../../components/react_components/servicesForm/ServicesForm";
import LayoutContactoServicios from "../../layouts/LayoutContactoServicios.astro";
const path = Astro.url.pathname;
const basePath = path.split("/")[1];
const result = `/${basePath}`;
---

<LayoutContactoServicios
  title="Formulario de contacto para Seguros Automotores"
  path={result}
>
  <main
    class="relative my-20 z-10 h-auto w-full grid place-items-center mx-auto"
  >
    <section class="flex h-full w-[80%] justify-center items-center">
      <ServicesForm
        client:only="react"
        placeholderMensaje={""}
      >
        <InputForm
          name="edad"
          placeholder="25 a침os"
          type="text"
          labelText="Edad"
        />

        <InputForm
          name="codigoPostal"
          placeholder="1424"
          type="text"
          labelText="Codigo Postal"
          client:only="react"
        />
        <InputForm
          name="marcaAuto"
          placeholder="Ford"
          type="text"
          labelText="Marca del automovil"
          client:only="react"
        />
        <InputForm
          name="modeloAuto"
          placeholder="Focus"
          type="text"
          labelText="Modelo del automovil"
          client:only="react"
        />
        <InputForm
          name="versionAuto"
          placeholder="Titanium"
          type="text"
          labelText="Versi칩n del automovil"
          client:only="react"
        />
        <InputForm
          name="a침oAuto"
          placeholder="2016"
          type="text"
          labelText="A침o del automovil"
          client:only="react"
        />
      </ServicesForm>
    </section>
  </main>
</LayoutContactoServicios>
