<main>
  <div class="h-[500px] bg-white"></div>
  <div class="h-[500px] bg-black"></div>
  <div class="h-[500px] bg-white"></div>
  <div class="h-[500px] bg-black"></div>
  <div class="h-[500px] bg-white"></div>
  <div class="h-[500px] bg-black"></div>
  <div class="h-[500px] bg-white"></div>
  <div class="h-[500px] bg-black"></div>
</main>
