---
import InputForm from "../../components/react_components/formsComponents/InputForm";
import ServicesForm from "../../components/react_components/servicesForm/ServicesForm";
import LayoutContactoServicios from "../../layouts/LayoutContactoServicios.astro";
const path = Astro.url.pathname;
const basePath = path.split("/")[1];
const result = `/${basePath}`;
---

<LayoutContactoServicios
  title="Formulario de contacto para Seguros Automotores"
  path={result}
>
  <main
    class="relative my-20 z-10 h-auto w-full grid place-items-center mx-auto"
  >
    <section class="flex h-full w-[80%] justify-center items-center">
      <ServicesForm
        client:only="react"
        placeholderMensaje={""}
      >
        <InputForm
          name="edad"
          placeholder="25 años"
          type="text"
          labelText="Edad"
        />

        <InputForm
          name="codigoPostal"
          placeholder="1424"
          type="text"
          labelText="Codigo Postal"
          client:only="react"
        />
        <InputForm
          name="provincia"
          placeholder="Buenos Aires"
          type="text"
          labelText="Provincia"
          client:only="react"
        />
        <InputForm
          name="marcaMovil"
          placeholder="Samsung"
          type="text"
          labelText="Marca dispositivo"
          client:only="react"
        />
        <InputForm
          name="modeloMovil"
          placeholder="A50"
          type="text"
          labelText="Modelo dispositivo"
          client:only="react"
        />
        <InputForm
          name="sumaAsegurada"
          placeholder="$200000 (los valores se expresan en AR$)"
          type="text"
          labelText="Suma asegurada"
          client:only="react"
        />
      </ServicesForm>
    </section>
  </main>
</LayoutContactoServicios>
