---
import { SelectForm } from "../../components/react_components/formsComponents/SelectForm";
import ServicesForm from "../../components/react_components/servicesForm/ServicesForm";
import LayoutContactoServicios from "../../layouts/LayoutContactoServicios.astro";
const path = Astro.url.pathname;
const basePath = path.split("/")[1];
const result = `/${basePath}`;
---

<LayoutContactoServicios
  title="Formulario de contacto para Seguros Automotores"
  path={result}
>
  <main
    class="relative my-20 z-10 h-auto w-full grid place-items-center mx-auto"
  >
    <section class="flex h-full w-[80%] justify-center items-center">
      <ServicesForm client:only="react">
        <SelectForm
          name="Tipo de Seguro"
          labelText="Tipo de Seguro"
          data={[
            { value: "ART", labelText: "ART" },
            { value: "Telefono movil", labelText: "Telefono movil" },
            {
              value: "Asistencia",
              labelText: "Asistencia mecanica, hogar y mascotas",
            },
            { value: "Comercio", labelText: "Integral de comercio" },
            { value: "Consorcio", labelText: "Integral de consorcio" },
          ]}
          client:only="react"
        />
      </ServicesForm>
    </section>
  </main>
</LayoutContactoServicios>
