---
import Container from "../reutilizables/Container.astro";
---

<section
  id="about"
  class="about relative w-full h-auto place-content-center mx-auto overflow-hidden z-10 bg-[#fff5eb]"
>
  <Container classname="relative z-10 ">
    <div
      class="h-auto w-full xl:w-[90%] flex flex-col lg:flex-row mt-40 md:mt-36 gap-12 justify-center mb-20"
    >
      <div class="mx-auto lg:mx-0 relative">
        <img
          loading="lazy"
          class="w-[450px]"
          src="/img/img-hola.avif"
          alt="foto Micaela Tissieres Gelsi - La Chica del Seguro"
          height="auto"
          width="auto"
          data-aos="zoom-in"
          data-aos-duration="800"
          data-aos-once="true"
          ,
        />
        <div
          class="hidden md:block absolute size-[40%] -top-[20%] -left-[20%] -z-10"
        >
          <img
            loading="lazy"
            class="h-full"
            src="/resources/asterisco-fino.svg"
            alt="asterisco fino verde"
            height="auto"
            width="auto"
            data-aos="zoom-in"
            data-aos-duration="700"
            data-aos-delay="700"
            data-aos-once="true"
          />
        </div>

        <div
          class="absolute -top-32 left-1/2 -translate-x-1/2 md:translate-x-0 md:top-4 md:left-[calc(100%-150px)] lg:left-[calc(100%-100px)] leading-none"
        >
          <h2 class="title">
            <span
              data-aos="fade-up"
              data-aos-duration="700"
              data-aos-delay="500"
              data-aos-once="true"
              >¡</span
            ><span
              data-aos="fade-up"
              data-aos-duration="700"
              data-aos-delay="600"
              data-aos-once="true"
              >H</span
            ><span
              data-aos="fade-up"
              data-aos-duration="700"
              data-aos-delay="700"
              data-aos-once="true"
              >O</span
            ><span
              data-aos="fade-up"
              data-aos-duration="700"
              data-aos-delay="800"
              data-aos-once="true"
              >L</span
            ><span
              data-aos="fade-up"
              data-aos-duration="700"
              data-aos-delay="900"
              data-aos-once="true"
              >A</span
            ><span
              data-aos="fade-up"
              data-aos-duration="700"
              data-aos-delay="1000"
              data-aos-once="true"
              >!</span
            >
          </h2>
          <h3
            class="saludo text-nowrap font-thin"
            data-aos="fade-up"
            data-aos-duration="700"
            data-aos-delay="800"
            data-aos-once="true"
          >
            Soy Mica
          </h3>
        </div>
      </div>

      <div class="w-[80%] mx-auto lg:mx-0 lg:w-1/2 lg:mt-52 xl:mt-60 h-auto">
        <div class="leading-none mb-6">
          <p
            class="title2 title2--light mb-2"
            data-aos="fade-right"
            data-aos-duration="700"
            data-aos-delay="600"
            data-aos-once="true"
          >
            Tu nueva aliada en el
          </p>
          <p
            class="title2 title2--bold"
            data-aos="fade-right"
            data-aos-duration="800"
            data-aos-delay="800"
            data-aos-once="true"
          >
            Mundo Asegurador.
          </p>
        </div>

        <div
          class="mb-4 md:mb-8 text-pretty text-justify text-[clamp(14px,3vw,20px)] font-light"
          data-aos="zoom-in"
          data-aos-duration="800"
          data-aos-delay="500"
          data-aos-once="true"
        >
          <p class="mb-2">
            Hace unos años me animé a abrir un espacio libre y gratuito para que
            todos puedan aprender sobre seguros y aplicarlos a su vida …. y WOW
            ya somos casi 100k en redes.
          </p>
          <p>
            En esta web vas a encontrar mucha información, consejos y
            asesoramiento para potenciar tus proyectos y cumplir tus sueños con
            un Seguro en mano.
          </p>
        </div>
        <div
          class="flex flex-col md:flex-row items-center justify-center md:justify-around gap-6 md:gap-0 w-full"
          data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-once="true"
        >
          <div class="w-fit md:w-[70%] lg:w-[50%] font-medium">
            <p
              class="bg-[#e69c99] w-full py-2 px-4 mb-3 rounded-sm text-nowrap"
            >
              No solo te cuento el Qué.
            </p>
            <p
              class="bg-[#6f9c8ad5] w-full py-2 px-4 text-gray-50 rounded-sm text-nowrap"
            >
              Sino también el Por qué.
            </p>
          </div>
          <div class="w-[clamp(180px,18vw,200px)] relative img__idea">
            <img
              loading="lazy"
              class="w-full relative drop-shadow-md"
              src="/img/e-idea.avif"
              alt="emogi de La Chica del Seguro idea"
              height="auto"
              width="auto"
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>

<style>
  .saludo {
    font-size: clamp(70px, 8vw, 128px);
  }
  .title {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: clamp(30px, 4vw, 60px);
  }

  .title2 {
    font-size: clamp(23px, 5vw, 40px);
  }

  .title2--light {
    font-weight: 200;
  }

  .title2--bold {
    font-weight: 500;
  }

  .img__idea::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: #ea4d50;
    border-radius: 20px;
  }
</style>
<script>
  import AOS from "aos";
  import "aos/dist/aos.css"; // You can also use <link> for styles
  // ..
  AOS.init();
</script>
