---
import Container from "../reutilizables/Container.astro";
---

<section
  id="about"
  class="about relative w-full h-auto place-content-center mx-auto overflow-hidden z-10 bg-[#fff5eb]"
>
  <div
    class="absolute size-[600px] -bottom-20 -left-[400px] rotate-[135deg] opacity-20"
  >
    <img
      class="h-full"
      src="/resources/flechas-verde-rojo.svg"
      alt=""
    />
  </div>
  <div
    class="absolute size-[600px] top-0 -right-[400px] rotate-[-45deg] opacity-20"
  >
    <img
      class="h-full"
      src="/resources/flechas-rojo-verde.svg"
      alt=""
    />
  </div>
  <Container classname="relative z-10 ">
    <div
      class="h-auto w-full xl:w-[90%] flex flex-col lg:flex-row mt-40 md:mt-36 gap-12 justify-center mb-20"
    >
      <div class="mx-auto lg:mx-0 relative">
        <img
          class="w-[450px]"
          src="/img/foto-mock.avif"
          alt="foto mica"
        />
        <div
          class="hidden md:block absolute size-[40%] -top-[20%] -left-[20%] -z-10"
        >
          <img
            class="h-full"
            src="/resources/asterisco-fino.svg"
            alt=""
          />
        </div>

        <div
          class="absolute -top-32 left-1/2 -translate-x-1/2 md:translate-x-0 md:top-4 md:left-[calc(100%-150px)] lg:left-[calc(100%-100px)] leading-none"
        >
          <h1 class="title">¡HOLA!</h1>
          <h1 class="saludo text-nowrap font-thin">Soy Mica</h1>
        </div>
      </div>

      <div class="w-[80%] mx-auto lg:mx-0 lg:w-1/2 lg:mt-40 xl:mt-52 h-auto">
        <div class="leading-none mb-6">
          <h2 class="title2 title2--light mb-2">Tu nueva amiga en el</h2>
          <h2 class="title2 title2--bold">Mundo Asegurador.</h2>
        </div>

        <div class="mb-4 md:mb-8 text-pretty text-justify">
          <p class="mb-2">
            Hace unos años me animé a abrir un espacio libre y gratuito para que
            todos puedan aprender sobre seguros y aplicarlos a su vida …. y WOW
            ya somos casi 100k en redes.
          </p>
          <p>
            En esta web vas a encontrar mucha información, consejos y
            asesoramiento para potenciar tus proyectos y cumplir tus sueños con
            un Seguro en mano.
          </p>
        </div>
        <div
          class="flex flex-col md:flex-row items-center justify-center md:justify-around gap-6 md:gap-0 w-full"
        >
          <div class="w-[90%] md:w-[70%] lg:w-[50%] font-medium">
            <p
              class="bg-[#e69c99] w-full py-2 px-4 mb-3 rounded-sm text-nowrap"
            >
              No solo te cuento el Qué.
            </p>
            <p
              class="bg-[#6f9c8ad5] w-full py-2 px-4 text-gray-50 rounded-sm text-nowrap"
            >
              Sino también el Por qué.
            </p>
          </div>
          <div class="w-[clamp(180px,18vw,200px)] relative img__idea">
            <img
              class="w-full relative drop-shadow-md"
              src="/img/e-idea.avif"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>

<style>
  .saludo {
    font-size: clamp(70px, 8vw, 128px);
  }
  .title {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: clamp(30px, 4vw, 60px);
  }

  .title2 {
    font-size: clamp(28px, 3vw, 40px);
  }

  .title2--light {
    font-weight: 200;
  }

  .title2--bold {
    font-weight: 500;
  }

  .img__idea::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: #ea4d50;
    border-radius: 20px;
  }
</style>
