---
import Button from "../reutilizables/Button.astro";
import Container from "../reutilizables/Container.astro";
import data from "../../data/academia.json";
---

<section
  id="academia"
  class="relative overflow-hidden pb-10 pt-14 md:pt-20 bg-[#fff5eb] z-10"
>
  <div class="absolute w-full h-full -bottom-[80%] left-1/2 -translate-x-1/2">
    <img
      loading="lazy"
      class="hidden md:block w-auto h-[calc(100%)/2] absolute bottom-[30%] xl:bottom-[20%] left-1/2 -translate-x-1/2 opacity-90"
      src="/resources/asterisco-bold.svg"
      alt="asterisco grueso verde"
      height="1"
      width="1"
    />
  </div>

  <Container>
    <div
      class="w-full xl:w-[80%] flex flex-col items-start justify-start leading-tight mb-4"
    >
      <p
        class="font-extralight text-[clamp(22px,6vw,70px)]"
        data-aos="fade-right"
        data-aos-duration="800"
        data-aos-once="true"
      >
        ¿Queres convertire en un
      </p>
      <p
        class="font-normal bg-[url('/resources/resaltado.svg')] bg-contain bg-no-repeat bg-center text-[clamp(28px,6vw,80px)]"
        data-aos="fade-right"
        data-aos-duration="800"
        data-aos-delay="500"
        data-aos-once="true"
      >
        Asesor de Seguros
      </p>
      <p
        class="font-extralight text-[clamp(22px,6vw,70px)]"
        data-aos="fade-right"
        data-aos-duration="800"
        data-aos-delay="700"
        data-aos-once="true"
      >
        100% digital?
      </p>
    </div>
    <div class="w-full xl:w-[80%] flex z-10 mb-2">
      <div class="w-full md:w-[60%]">
        <p
          class="text-[clamp(16px,3vw,22px)] font-light text-pretty"
          data-aos="fade-right"
          data-aos-duration="800"
          data-aos-delay="800"
          data-aos-once="true"
        >
          Los programas educativos sobre seguros actuales no te preparan para
          ser asesor profesional y digital. Pero la <strong
            class="font-semibold text-lcsOrange3"
            >ACADEMIA
          </strong>si. <br />
          La <strong class="font-semibold text-lcsOrange3"
            >primera plataforma</strong
          > educativa on demand destinada a la formación integral de profesionales
          que desean crear un Negocio de Seguros <strong
            class="font-semibold text-lcsOrange3">100% digital</strong
          > y conseguir nuevos clientes a través de internet.
        </p>
        <div class="flex flex-col gap-4 my-5 w-full md:w-[90%]">
          {
            data.map((item, index) => (
              <div
                class="inline-flex w-full items-center justify-center gap-2 "
                data-aos="fade-right"
                data-aos-duration="800"
                data-aos-delay={index * 100 + 1000}
                data-aos-once="true"
              >
                <span>
                  <img
                    loading="lazy"
                    class="w-[40px] inline-block opacity-70 grayscale"
                    src="/resources/corazon-paragua.svg"
                    alt="logo Logo la chica del seguro corazon paragua"
                    height="1"
                    width="1"
                  />
                </span>
                <p class="text-[clamp(14px,2vw,18px)] text-[#518d87] font-medium text-pretty w-[calc(100%-50px)]">
                  {item.text}
                </p>
              </div>
            ))
          }
        </div>
      </div>
      <div
        class="hidden md:flex relative w-1/2 justify-center items-center"
        data-aos="fade-left"
        data-aos-duration="1500"
        data-aos-once="true"
      >
        <div
          class="absolute top-0 lg:-top-[15%] xl:-top-[30%] 2xl:-top-[50%] 3xl:-top-[65%] lg:right-0 xl:-right-20"
        >
          <img
            loading="lazy"
            class="h-full lg:h-[500px] xl:h-[600px] 2xl:h-[700px] rotate-[10deg] scale-x-[-1] foto"
            src="/img/compu.avif"
            alt="imagen computadora de la academia de seguros"
            height="auto"
            width="auto"
          />
        </div>
      </div>
    </div>
    <div
      class="z-10"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-once="true"
    >
      <Button
        href="https://academia.lachicadelseguro.com.ar/"
        title1="Comenza"
        title2="Academia de Seguros"
      />
    </div>
  </Container>
</section>

<style>
  .foto {
    filter: drop-shadow(-10px 12px 8px rgb(68, 68, 68));
  }
</style>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css"; // You can also use <link> for styles
  // ..
  AOS.init();
</script>
