---
import Button from "../reutilizables/Button.astro";
import Container from "../reutilizables/Container.astro";
import DescargableForm from "../react_components/descargableForm/DescargableForm";
---

<section
  id="guia_descarga"
  class="w-full place-items-center mx-auto relative z-10 bg-[#fff5eb] pt-10 lg:pt-20 2xl:pt-24"
>
  <Container>
    <div class="relative w-full xl:w-[90%] 3xl:w-[70%]">
      <div
        class="bg-lcsGreen1 w-full bg-opacity-85 rounded-[20px] shadow-xl flex justify-center overflow-y-hidden"
      >
        <div
          class="hidden lg:block w-[50%] 2xl:w-[48%] absolute -bottom-36 xl:-bottom-44 -left-28"
        >
          <img
            class="w-full"
            src="/img/libro_mock.avif"
            alt=""
          />
        </div>
        <div class="hidden lg:block w-[30%]"></div>

        <div class="flex flex-col gap-5 p-5 h-fit lg:w-[70%]">
          <div class="w-full">
            <h2
              class="text-gray-50 text-center text-[clamp(20px,2vw,30px)] title uppercase px-1"
            >
              La póliza no tiene letra chica, es un idioma nuevo.
            </h2>
          </div>
          <div class="w-full grid place-items-center mx-auto z-10">
            <div class="w-full">
              <p
                class="text-gray-50 text-center text-pretty text-[clamp(14px,3vw,18px)] font-light px-3"
              >
                Te regalo esta guía práctica e interactiva para aprender a leer
                y entender cualquier póliza de seguros. <br />
                <strong class="text-[clamp(16px,3vw,22px)]"
                  >¡La guía perfecta para asegurarte más y mejor!</strong
                >
              </p>
            </div>
          </div>
          <DescargableForm client:only="react" />
        </div>
      </div>
    </div>
  </Container>

  <style>
    .title {
      font-family: "Cormorant Garamond", serif;
    }
  </style>
</section>
