---

---

<section
  id="hero"
  class="sticky top-0 -z-10 h-[100dvh] w-full overflow-hidden hero bg-[#ffefe9]"
>
  <div class="h-full w-full flex flex-col justify-around items-center relative">
    <h1
      class="w-[90%] md:w-[70%] h-full flex justify-center flex-col items-center relative text-transparent text-[0px]"
    >
      La Chica del Seguro

      <img
        class="w-full"
        src="/resources/Logotipo-animado.svg"
        alt="La Chica del Seguro tu aliada en seguros"
        loading="lazy"
        height="1"
        width="1"
        title="La Chica del Seguro tu aliada en seguros"
      />
    </h1>

    <img
      loading="lazy"
      class="h-[80px] w-[80px] rotate-[-45deg] mb-10"
      src="/resources/flechas-hero.svg"
      alt="flechas verdes animadas"
      height="1"
      width="1"
      title="flechas verdes animadas"
    />
  </div>
</section>

<style>
  .hero::after {
    z-index: -1;
    content: "";
    opacity: 0;
    position: absolute;
    top: -15%;
    left: -50%;
    width: 100%;
    height: 40%;
    background-image: url("/resources/flechas.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    transform: rotate(-100deg);
    animation: aparecerFlechas 2s ease-in-out 0.8s forwards;
  }

  @keyframes aparecerFlechas {
    100% {
      opacity: 1;
    }
  }

  .hero::before {
    z-index: -1;
    content: "";
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    width: 100%;
    height: 100%;
    background-image: url("/resources/medio-espiral.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    transform: rotate(180deg);
    animation: aparecerAsterisco 2s ease-in-out 1.2s forwards;
  }

  @keyframes aparecerAsterisco {
    100% {
      opacity: 5%;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    window.addEventListener("scroll", () => {
      const hero = document.getElementById("hero");
      const scrollY = window.scrollY;

      if (scrollY > 2000) {
        hero.classList.add("opacity-0");
      } else {
        hero.classList.remove("opacity-0");
      }
    });
  });
</script>
