---
import Container from "../reutilizables/Container.astro";
import data from "../../data/cardServices.json";
import CardServices from "../reutilizables/CardServices.astro";
---

<section
  id="services"
  class="relative overflow-hidden bg-[#fff5eb] z-10"
>
  <div class="">
    <img
      class="block w-auto h-[calc(100%/3)] absolute top-1/2 -left-[20%] xl:-left-[6%] translate-y-[-50%] opacity-20"
      src="/resources/asterisco-fino.svg"
      alt=""
    />
  </div>
  <div class="">
    <img
      class="block w-auto h-[400px] lg:h-[400px] xl:h-[500px] absolute xl:-bottom-[50px] lg:-bottom-[20px] -bottom-0 -right-[40%] lg:-right-[30%] xl:-right-[25%] 2xl:-right-[20%] rotate-[65deg] opacity-30"
      src="/resources/flechas-rojo-verde.svg "
      alt=""
    />
  </div>

  <Container>
    <div
      class="relative z-10 mt-10 md:mt-20 w-full grid place-items-center mx-auto"
    >
      <div class="flex justify-around items-center gap-10">
        <img
          class="hidden lg:block w-[50px] md:w-[30px] lg:w-[70px] rotate-[225deg]"
          src="/resources/flechas-rojas.svg"
          alt=""
        />
        <h1
          class="text-[clamp(28px,7vw,80px)] font-light md:font-extralight z-10"
        >
          Contrata un Seguro
        </h1>
        <img
          class="hidden lg:block w-[50px] md:w-[30px] lg:w-[70px] rotate-[45deg]"
          src="/resources/flechas-rojas.svg"
          alt=""
        />
      </div>

      <div
        class="text-[clamp(80px,15vw,180px)] w-full h-[clamp(80px,20vw,200px)] font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10 text-lcsPink3 tracking-wide opacity-60 text-center flex justify-center items-center"
      >
        <p>B B B</p>
      </div>
      <!--     <div class="">
       
      </div>
      <div class="">
        
      </div> -->
    </div>

    <div
      class="relative w-full text__animated__container z-10 flex justify-center items-center h-[clamp(30px,7vw,50px)] mt-5"
    >
      <p
        data-delay="2s"
        class="text-[clamp(30px,7vw,50px)] font-semibold text-pretty text-center my-0 absolute opacity-0 text-[#518d87]"
      >
        BUENO
      </p>
      <p
        class="text-[clamp(30px,7vw,50px)] font-semibold text-pretty text-center my-0 absolute opacity-0 text-[#518d87]"
      >
        BONITO
      </p>
      <p
        class="text-[clamp(30px,7vw,50px)] font-semibold text-pretty text-center my-0 absolute opacity-0 text-[#518d87]"
      >
        BIEN HECHO
      </p>
    </div>

    <div
      class="w-full lg:w-fit flex justify-around items-center gap-4 md:gap-20 mt-7"
    >
      <!-- <div class="w-full md:w-[calc(100%-160px)] lg:w-full">
        <div
          class="text-[clamp(18px,2.5vw,40px)] w-full font-extralight text-pretty text-center flex flex-col justify-center items-center"
        >
          <p>
            Te presentamos a nuestros <span
              class="sub relative font-normal text-nowrap w-fit text-[#518d87]"
              >Brokers de seguros
            </span>
          </p>

          <p>de confianza.</p>
         
        </div>
      </div>
 -->
    </div>

    <div
      class="w-full md:w-[70%] lg:w-full flex flex-col lg:flex-row gap-4 mx-auto justify-center items-center"
    >
      {data.map((item) => <CardServices {...item} />)}
    </div>
  </Container>
</section>

<style>
  .sub__container {
    position: relative;
  }
  .sub::after {
    content: "";
    background-image: url("/resources/surayado.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: clamp(-35px, 4vw, -42px);
    right: 0;
    width: 100%;
    height: 40px;
  }

  .text__animated__container p {
    opacity: 0;
    animation: fadeInOut 12s linear infinite;
  }

  .text__animated__container p:nth-child(1) {
    animation-delay: 0s;
  }

  .text__animated__container p:nth-child(2) {
    animation-delay: 4s;
  }

  .text__animated__container p:nth-child(3) {
    animation-delay: 8s;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
