---
import Bento from "../reutilizables/Bento.astro";
import BentoServices from "../reutilizables/BentoServices.astro";
import Container from "../reutilizables/Container.astro";
import SliderServices from "../reutilizables/SliderServices.astro";
import data from "../../data/cardServices.json";
import CardServices from "../reutilizables/CardServices.astro";
---

<section
  id="services"
  class="relative overflow-hidden bg-[#fff5eb] z-10"
>
  <div class="">
    <img
      class="hidden lg:block w-auto h-[calc(100%/3)] absolute top-1/2 -left-[20%] xl:-left-[6%] translate-y-[-50%] opacity-70"
      src="/resources/asterisco-fino.svg"
      alt=""
    />
  </div>
  <div class="">
    <img
      class="hidden lg:block w-auto lg:h-[400px] xl:h-[500px] absolute xl:-bottom-[50px] lg:-bottom-[20px] -right-[80%] lg:-right-[30%] xl:-right-[25%] 2xl:-right-[20%] rotate-[65deg] opacity-30"
      src="/resources/flechas-rojo-verde.svg "
      alt=""
    />
  </div>

  <Container>
    <div class="relative z-10 mt-10 w-full grid place-items-center mx-auto">
      <h1 class="text-[clamp(32px,6vw,100px)] font-extralight z-10">
        Contrata un Seguro
      </h1>
      <p
        class="text-[clamp(80px,15vw,200px)] w-full font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10 text-lcsPink3 tracking-wide opacity-60 text-center"
      >
        B B B
      </p>
    </div>

    <div
      class="relative w-full text__animated__container z-10 flex justify-center items-center"
    >
      <p
        data-delay="2s"
        class="text-[clamp(40px,3vw,60px)] font-semibold text-pretty text-center my-0 absolute opacity-0 text-[#518d87]"
      >
        BUENO
      </p>
      <p
        class="text-[clamp(40px,3vw,60px)] font-semibold text-pretty text-center my-0 absolute opacity-0 text-[#518d87]"
      >
        BONITO
      </p>
      <p
        class="text-[clamp(40px,3vw,60px)] font-semibold text-pretty text-center my-0 absolute opacity-0 text-[#518d87]"
      >
        BIEN HECHO
      </p>
    </div>

    <div
      class="w-full lg:w-[90%] flex justify-center items-center gap-4 md:gap-10"
    >
      <div class="">
        <img
          class="w-[50px] md:w-[70px] lg:w-[100px] rotate-[225deg]"
          src="/resources/flechas-rojas.svg"
          alt=""
        />
      </div>
      <div>
        <div
          class="text-[clamp(18px,3vw,40px)] font-light text-pretty text-center flex flex-col justify-center items-center"
        >
          <p>Te presentamos a nuestros</p>
          <div class="relative w-fit text-[#518d87]">
            <p>Brokers de seguros</p>
            <div class="sub">
              <img
                src="/resources/surayado.svg"
                alt=""
              />
            </div>
          </div>
          <p>de confianza.</p>
        </div>
      </div>

      <div class="">
        <img
          class="w-[50px] md:w-[70px] lg:w-[100px] rotate-[45deg]"
          src="/resources/flechas-rojas.svg"
          alt=""
        />
      </div>
    </div>

    <div
      class="w-full md:w-[70%] lg:w-full flex flex-col lg:flex-row gap-4 mx-auto justify-center items-center mt-10"
    >
      {data.map((item) => <CardServices {...item} />)}
    </div>
  </Container>
</section>

<style>
  .sub__container {
    position: relative;
  }
  .sub {
    position: absolute;
    top: clamp(22px, 3.5vw, 50px);
    bottom: 0;
    right: 0;
    left: 0%;
    width: 100%;
    height: 40px;
  }

  .text__animated__container p {
    opacity: 0;
    animation: fadeInOut 12s linear infinite;
  }

  .text__animated__container p:nth-child(1) {
    animation-delay: 0s;
  }

  .text__animated__container p:nth-child(2) {
    animation-delay: 4s;
  }

  .text__animated__container p:nth-child(3) {
    animation-delay: 8s;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
